Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: lower_case
